.button {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  width: 100%;
  transition:
    background-color 0.25s,
    opacity 0.25s,
    color 0.25s;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: unset;
  }

  &.blue {
    &.primary {
      color: #ffffff;
      background: #5c59fd;
    }

    &.outline {
      color: #5c59fd;
      background: transparent;
      outline: 1px solid #5c59fd;
      outline-offset: -1px;

      &:active {
        color: #ffffff;
      }
    }

    &.large {
      border-radius: 20px;
      padding: 50px;
    }

    &.medium {
      border-radius: 9px;
      padding: 30px;
    }

    &:active {
      background: #4845e9;
    }

    &:disabled {
      opacity: 0.4;
    }
  }

  &.white {
    color: #0d003b;
    background: #ffffff;
    border-radius: 9px;
    padding: 20px;

    &:active {
      background: #f0f2f5;
    }

    &:disabled {
      color: #98a2b3;
    }
  }
}
