.button {
  border-radius: 20px;
  padding: 50px;

  &:disabled {
    background: #f0f2f5;
  }

  &.default {
    background: #ffffff;
  }

  &.success {
    background: #44be72;
  }

  &.error {
    background: #e3605f;
  }
}
