.wrap {
  position: relative;
  user-select: none;
  min-width: 203px;

  .text {
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.4px;
    color: #0d003b;
  }

  .select {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 10px 20px;
    background: #ecf7ff;
    border-radius: 4px;
  }

  .options {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 4px;
    background: #ecf7ff;
    border-radius: 8px;

    .option {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 4px 8px;
      margin: 0 10px;
      transition: outline-color 0.25s;

      &.success,
      &.error {
        outline-offset: -1px;
        border-radius: 8px;

        .radio {
          background: transparent;
          display: inline-flex;
          align-items: center;
          justify-content: center;

          span {
            width: 10px;
            height: 10px;
            border-radius: 50%;
          }
        }
      }

      &.success {
        outline: 1px solid #44be72;

        .radio {
          outline: 1px solid #44be72;

          span {
            background-color: #44be72;
          }
        }
      }

      &.error {
        outline: 1px solid #e3605f;

        .radio {
          outline: 1px solid #e3605f;

          span {
            background-color: #e3605f;
          }
        }
      }

      &:first-child {
        margin-top: 10px;
      }

      &:last-child {
        margin-bottom: 10px;
      }

      .text {
        line-height: 145%;
      }

      .radio {
        width: 18px;
        height: 18px;
        background: #ffffff;
        outline: 1px solid #d0d5dd;
        outline-offset: -1px;
        border-radius: 100%;
        transition: outline-color 0.25s;

        span {
          transition: background-color 0.25s;
        }
      }
    }
  }
}
