.content {
  h3 {
    font-size: 40px;
    color: #0d003b;
    margin-bottom: 20px;
  }

  p {
    font-size: 24px;
    font-weight: 400;
    line-height: 110%;
    color: rgba(13, 0, 59, 0.7);
    margin-bottom: 50px;
  }
}
